html {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.title {
  height: 50px;
  /* width: 300px; */
  margin: 20px;
  /* padding: 10px; */
  line-height: 50px;

  font-style: 2em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
  background-color: lightgreen;
}

.message {
  padding: 10px 20px;
  text-align: justify;
  background-color: #ddd;
}

.inline {
  display: inline-block;
}